#myCarousel {
    --f-carousel-spacing: 10px;
    --f-carousel-slide-width: 100%;
    --f-progress-color: #ff3520;
    width: 100%;
    height: 100%;
}

#myCarousel .f-carousel__slide {
    background: #eee;
}
